.chart-container {
  position: relative;
  height: 40vh;
  width: 100%;
}

ion-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

ion-card-subtitle {
  text-transform: uppercase;
  font-size: 0.8rem;
}
